.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(221 240 255);
}


.left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    width: 20rem;
    height: 5rem;
    cursor: pointer;
}

.dropdown {
    background-color: rgb(205, 229, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    border-radius: 9999px;
    gap: 1.25rem;
    cursor: pointer;
}

.creator-text {
    font-size: 1rem;
    line-height: 1.5rem;
}

.create-link {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(14, 111, 255);
    padding: 1.5rem 2rem;
    border-width: 1px;
    border-radius: 9999px;
    border-color: rgb(14, 111, 255);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.create-link:hover {
    background-color: #D5E4F2;
}

.plus-img {
    width: 1.5rem;
    height: 1.5rem;
}

.login {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.5rem 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(14, 111, 255);
    border-radius: 9999px;
}

.login:hover {
    background-color: #0C58C8;
}

button {
    background: transparent;
    border-width: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.left-nav-2 {
    display: none;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    background-color: rgb(205, 229, 249);
    border-radius: 9999px;
}

.gap-2 {
    display: none;
    align-items: center;
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .navbar-container {
        height: 4rem;
        padding: 1.5rem;
    }
    .logo-img {
        width: 10rem;
        height: 2.25rem;
    }
    .create-link {
        padding: 0.75rem 2rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .login {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.75rem 2.5rem;
    }
    .plus-img {
        width: 1rem;
        height: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .navbar-container {
        padding: 1rem;
        z-index: 9999;
    }
    .left-nav, .create-link {
        display: none;
    }
    .left-nav-2, .gap-2 {
        display: flex;
    }
    .login {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.75rem 1.25rem;
    }
}