.card-img {
    width: 416px;
    height: 220px;
    border-radius: 0.75rem;
}

.image-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.footer-content {    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 250, 254);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    justify-content: space-evenly;
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

li {
    list-style-type: none;
    color: rgb(42, 69, 107);
    line-height: 1.5;
    margin: 0.5rem 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-logo {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    padding-left: 1.2rem;
}

.footer-img {
    width: 200px;
    height: 200px;
}

a {
    color: #2A456B;
}

a:hover {
    color: #0E6FFF;
}

@media only screen and (max-width: 800px) {
    .footer-content {
        margin-bottom: 0;
        padding: 0 4rem;
    }
    .ul-links {
        display: none;
    }
    .links {
        flex-direction: column;
    }
    .social {
        align-items: center;
    }
    .social-logo {
        gap: 1rem;
    }
    .c1, .c3 {
        display: none;
    }
    .image-card, .card-img {
        width: 100%;
        display: block;
    }
}