* {
    font-family: Figtree-Regular,Arial,Helvetica,sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    padding-top: 12rem;
    scroll-behavior: smooth;
    background-color: rgb(221 240 255);
    overflow: hidden;
}